<%= form_for(@bilti) do |f| %>
  <% if @bilti.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bilti.errors.count, "error") %> prohibited this bilti from being saved:</h2>

      <ul>
      <% @bilti.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="row">
  <div class="col-lg-12"> 
    <div class="col-lg-3">
        <div class="form-group form-inline">
          <label>Office</label>
          <select class="form-control">
              <option>Booking 1</option>
              <option>Booking 2</option>
              <option>Booking 3</option>
          </select>
        </div>
    </div>
    <div class="col-lg-3" >    
        <div class="form-group form-inline">
          <%= f.label :h_0 %><br>
          <%= f.text_field :h_0 %>
        </div>      
    </div>
    <div class="col-lg-6" >
      <div class="field">
        <%= f.label :l_r_no %><br>
        <%= f.number_field :l_r_no %>
      </div>
      <div class="field">
        <%= f.label :bar_code %><br>
        <%= f.text_field :bar_code %>
      </div>
      <div class="field">
        <%= f.label :booking_date %><br>
        <%= f.datetime_select :booking_date %>
      </div>   
    </div>
  </div>
</div> 
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Default Panel
            </div>
            <div class="panel-body">
              <div class="field">
                <%= f.label :consigner %><br>
                <%= f.text_field :consigner %>
              </div>
              <div class="field">
                <%= f.label :tin_no %><br>
                <%= f.text_field :tin_no %>
              </div>                
            </div>
        </div>
    </div>


    <!-- /.col-lg-4 -->
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Primary Panel
            </div>
            <div class="panel-body">
              <div class="field">
                <%= f.label :consignee %><br>
                <%= f.text_field :consignee %>
              </div>
            </div>
        </div>
    </div>    
</div>
 
<div class="row">
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
        Goods Descriptions
    </div>
    <div class="field">
      <%= f.label :office %><br>
      <%= f.text_field :office %>
    </div>
    <div class="field">

    </div>

  <div class="field">
    <%= f.label :invoice_no %><br>
    <%= f.text_field :invoice_no %>
  </div>
  <div class="field">
    <%= f.label :goods %><br>
    <%= f.text_field :goods %>
  </div>
  <div class="field">
    <%= f.label :frieght %><br>
    <%= f.check_box :frieght %>
  </div>
  <div class="field">
    <%= f.label :actual_weight %><br>
    <%= f.text_field :actual_weight %>
  </div>
  <div class="field">
    <%= f.label :changed_weight %><br>
    <%= f.text_field :changed_weight %>
  </div>
  <div class="field">
    <%= f.label :goods_value %><br>
    <%= f.text_field :goods_value %>
  </div>
  <div class="field">
    <%= f.label :transport_mode %><br>
    <%= f.number_field :transport_mode %>
  </div>

  <div class="field">
    <%= f.label :total %><br>
    <%= f.text_field :total %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.text_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.text_field :company_id %>
  </div>
  </div>
</div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>  


 
