<p id="notice"><%= notice %></p>

<p>
  <strong>Office:</strong>
  <%= @bilti.office %>
</p>

<p>
  <strong>H 0:</strong>
  <%= @bilti.h_0 %>
</p>

<p>
  <strong>Consigner:</strong>
  <%= @bilti.consigner %>
</p>

<p>
  <strong>Consignee:</strong>
  <%= @bilti.consignee %>
</p>

<p>
  <strong>L r no:</strong>
  <%= @bilti.l_r_no %>
</p>

<p>
  <strong>Bar code:</strong>
  <%= @bilti.bar_code %>
</p>

<p>
  <strong>Booking date:</strong>
  <%= @bilti.booking_date %>
</p>

<p>
  <strong>Invoice no:</strong>
  <%= @bilti.invoice_no %>
</p>

<p>
  <strong>Goods:</strong>
  <%= @bilti.goods %>
</p>

<p>
  <strong>Frieght:</strong>
  <%= @bilti.frieght %>
</p>

<p>
  <strong>Actual weight:</strong>
  <%= @bilti.actual_weight %>
</p>

<p>
  <strong>Changed weight:</strong>
  <%= @bilti.changed_weight %>
</p>

<p>
  <strong>Goods value:</strong>
  <%= @bilti.goods_value %>
</p>

<p>
  <strong>Transport mode:</strong>
  <%= @bilti.transport_mode %>
</p>

<p>
  <strong>Tin no:</strong>
  <%= @bilti.tin_no %>
</p>

<p>
  <strong>Total:</strong>
  <%= @bilti.total %>
</p>

<p>
  <strong>Client:</strong>
  <%= @bilti.client %>
</p>

<p>
  <strong>Company:</strong>
  <%= @bilti.company %>
</p>

<%= link_to 'Edit', edit_bilti_path(@bilti) %> |
<%= link_to 'Back', biltis_path %>
